<!DOCTYPE html>
<html lang="ch-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/assets/css/style-freedom.css">
</head>
<body>

<section id="walter-headers" class="">
    <div class="d-grid grid-columns-auto">
        <div class="Brand-logo">
            <a class="brand-logo" href="index.html">五<span>秒</span>科<span>技</span></a>

        </div>

        <div class="right-grid align-left d-grid">
            <div class="quick-links">
                <ul>
                    <li><a href="about.html">关于我们 <span>关于我们的几句话</span></a></li>
                    <li><a href="services.html">我们提供什么 <span>提供的服务 </span></a></li>
                    <li><a href="blog.html"> 技术博客 <span>精选文章</span></a></li>
                </ul>
            </div>
            <div class="button align-right">
                <a href="contact.html" class="actionbg">联系我们</a>
            </div>

            <div class="accounts align-right">
                <a href="contact.html" class="actionbg">登录<br/>注册</a>
            </div>
        </div>
    </div>
</section>
{{ yield }}

<!-- w3l-features-4 -->
<section class="w3l-footer-16">
    <!-- /w3l-footer-16 -->
    <div class="w3l-footer-16-main">
        <div class="wrapper">
            <div class="grid">
                <div class="column">
                    <h3>用户</h3>
                    <ul class="footer-gd-16">
                        <li><a href="login.html">登录</a></li>
                        <li><a href="signin.html">注册</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>我们</h3>
                    <ul class="footer-gd-16">
                        <li><a href="about.html">关于我们</a></li>
                        <li><a href="services.html">我们的服务</a></li>
                        <li><a href="portfolio.html">作品集</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Services</h3>
                    <ul class="footer-gd-16">
                        <li><a href="services.html">Interior design</a></li>
                        <li><a href="services.html">Lighting design</a></li>
                        <li><a href="services.html">Exterior design</a></li>
                        <li><a href="services.html">Architectural</a></li>
                    </ul>
                </div>
                <div class="column column3">
                    <h3>Links</h3>
                    <ul class="footer-gd-16">
                        <li><a href="#url">24/7 support</a></li>
                        <li><a href="#url">privacy policy</a></li>
                        <li><a href="#url">Terms of use</a></li>
                        <li><a href="#url">License</a></li>
                    </ul>
                </div>
                <div class="column column4">
                    <h3>Newsletter </h3>
                    <form action="#" class="subscribe" method="post">
                        <input type="email" name="email" placeholder="输入你的电子邮箱" required="">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                    <p>订阅并获取我们的每周新闻</p>
                    <p>我们将永远不会分享您的电子邮件地址</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //w3l-footer-16 -->
<!-- Footer -->
<section class="w3l-footers-1">
    <div class="footer">
        <div class="wrapper">
            <div class="footer-content">
                <div class="d-grid grid-columns-2">
                    <div class="footer-left">
                        <p>© {{nowYear}} <a href="https://wumiao.cc">WuMiao</a>. All rights reserved</p>
                    </div>
                    <div class="footer-right align-right">
                        <ul class="social">
                            <li><a href="#twitter"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#facebook"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#facebook"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#facebook"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Footer -->

<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-arrow-up"></span>
</button>
<script>
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("walter-headers").className = "transparent";
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("walter-headers").className = "";
            document.getElementById("movetop").style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/index.js" charset="utf-8"></script>
</body>
</html>